body { 

    width: 350px;
    min-height: 190px;
    padding: 0;
    margin: 0;

    font-family: "Roboto";
    font-style: normal;  
  
}

.map {
    display: none;
}

input {
    font-size: 12px;
    width: 100%;
    padding: 6px;
    outline: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.places  {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.places li.ng-enter,
.places li.ng-leave.ng-leave-active {
  opacity:0;
}

.places ling-leave,
.places ling-enter.ng-enter-active {
  opacity:1;
}


.places li { 
    list-style-type: none;
    margin:0; 
    padding:5px 5px 5px 0; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;

    color: #fff;

    width: 4200px;

    transition: all 0.5s linear;

   background: -webkit-linear-gradient(left, #00000c 0%,#ffd895 44%,#ffffff 50%,#487a9f 58%,#000c32 77%,#00000c 100%); /* Chrome10+,Safari5.1+ */

    background-position: 0 0;
}

.places li.state-sleeping {
    /*background-position: 650px 0;*/
}

.places li.state-drink {
    /*background-position: 1400px 0;*/
}

.places li.state-dinner {
    /*background-position: 1050 0;*/
}

.places li.state-lunch {
    /*background-position: 700px 0;*/
    color: #000;
}

.places li.state-lunch .activity {
    color: #000;    
}

.places li.state-lunch .time .minute,
.places li.state-lunch .time .hour {
    color: #000;
}

.places li.state-breakfast {
    /*background-position: 0 0;*/
    color: #23211d;
}

.places li.state-breakfast .activity {
    color: #646464;    
}

.places li.state-breakfast .time .minute,
.places li.state-breakfast .time .hour {
    color: #23211d;
}

.places li.state-office {
    /*background-position: 350px 0;*/
    color: #000;
}

.places li.state-office .activity {
    color: #000;    
}

.places li.state-office .time .minute,
.places li.state-office .time .hour {
    color: #000;
}

.places li.state-bed {
    /*background-position: 1800px 0;*/
}

.places li:hover .remove {
    opacity: 0.5;
}

.places li .time {
    float: left;
    margin-right: 0;

}


.places li .time .hour {
    display: inline-block;
    width: 50px; 

    color:#fff;
    text-align: left; 
    font-size: 16px; 
    padding: 7px; 
    border: 0;
    background: transparent;    
}


.places li .time .minute {
    display: inline-block;
    width:40px; 

    color:#fff;
    text-align:left; 
    font-size:16px; 
    padding:7px 0; 
    border: 0;
    background: transparent;  

    position: relative;
    left: -20px;

    transition: left 200ms ease-in-out;
    transition-delay: 300ms;
}

.places li .remove {
    float: right;
    opacity: 0;
    height: 20px;
    width: 20px;
    background: 
        url('../icons/trash.svg')
        no-repeat
        center center;

    background-size: contain;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}


.places li .remove:hover {
    opacity: 1;
}
.places li .name {
    margin-right: 5px;
}

.places li .activity {
    font-size: 12px;
    color: #f6f6f6; 
}

.places li .body {
    flex: 1;
}

.pac-container {
    width: 350px !important;
    box-shadow: none;
    border-radius: 0;
}

.pac-container:after {
    display: none;
}

