html, body {
    height: 100%;
}

body { 
    min-width: 380px;
    min-height: 280px;
    width: 100%;

    padding: 0;
    margin: 0;

    font-family: "Roboto";
    font-style: normal;  
    font-weight: 100;
}

input {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 100;
    width: 100%;
    padding: 6px;
    outline: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.places  {
    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    height: calc(100% - 31px);

}

.places li {
    display: flex;
    flex: 1;
    
    margin:0; 
    padding: 20px;
    
    list-style-type: none;
     
    align-items: flex-start;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 7vmin;
    transition: color 0.5s linear;  

    border-bottom: 1px solid #fff;  
}


.places li:hover .time .hour {
    background: rgba(255,255,255, 0.2);
}

.places li.state-lunch {
    color: #000;
}

.places li.state-lunch .activity {
    color: #000;    
}

.places li.state-lunch .time .minute,
.places li.state-lunch .time .hour {
    color: #000;
}

.places li.state-breakfast {
    color: #23211d;
}

.places li.state-breakfast .activity {
    color: #646464;    
}

.places li.state-breakfast .time .minute,
.places li.state-breakfast .time .hour {
    color: #23211d;
}

.places li.state-office {
    color: #000;
}

.places li.state-office .activity {
    color: #000;    
}

.places li.state-office .time .minute,
.places li.state-office .time .hour {
    color: #000;
}

.places li:hover .remove {
    opacity: 1;
}

.places li .time {
    float: left;
    margin-right: 0;
}

.places li .time .hour {
    display: inline-block;
    width: 11vmin; 
    
    color:#fff;
    text-align: right; 
    font-size: 7vmin;
    padding: 0 5px; 
    border: 0;
    background: transparent;    
}


.places li .time .minute {
    display: inline-block;
    width: auto;

    color:#fff;
    text-align:left; 
    font-size: 7vmin;
    padding: 0; 
    border: 0;
    background: transparent;  
}

.places li .remove {
    float: right;
    opacity: 0;
    height: 20px;
    width: 20px;
    margin-right: 5px;

    background: url('../icons/trash.svg') no-repeat center center;
    background-size: contain;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.places li .name {
    margin-right: 5px;
}

.places li .activity {
    font-size: 4vmin;
    color: #f6f6f6; 
    transition: color 0.5s linear;   
}

.places li .body {
    flex: 1;
}

.pac-container {
    width: 350px !important;
    box-shadow: none;
    border-radius: 0;
}

.pac-container:after {
    display: none;
}

.map {
    display: none;
}

