.clock {
  fill: #be1e2d;
}

.edge {
  fill: #f1f2f2;
}

.hour {
  stroke-width: 2px;
  stroke: #414042;
}

.second {
  stroke-width: 2px;
  stroke: #cf2257;
}

.minute {
  stroke-width: 2px;
  stroke: #414042;
}

#sec {
  stroke: #cf2257;
  stroke-width: 2px;
}
