<!DOCTYPE html>

<html lang="en" ng-app="app">
    <head>
        <base href="/" />
        <title>Timey - timezones with a human touch</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <link rel="manifest" href="manifest.json">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="stylesheet" href="stylesheets/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300" type="text/css">

        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
        <script src="libs/rainbowvis.js"></script>
        <script src="libs/service-worker-registration.js"></script>

        <script src="app.js"></script>
    </head>

    <body ng-class="{ 'state-12hour' : settings.is12Hour == true }" ng-view>

    </body>
</html>
