<!doctype html>
<html lang="en" ng-app="app" ng-csp="">
<head>
  <title>Local time in - See what time it is anywhere in the world - and what people in that country are doing right now</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900" rel="stylesheet" type="text/css">

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
  <script src="js/libs/moment.js"></script>
  <script src="js/libs/moment-timezone.js"></script>
  <script src="js/libs/moment-timezone-data.js"></script>
  <script src="js/libs/rainbowvis.js"></script>
  <script src="js/libs/angular.js"></script>
  <script src="js/libs/angular-animate.js"></script>

  <script src="js/app.js"></script>

</head>

<body ng-controller="PlacesController">

    <input class="new-city-input" tabindex="-1" type="text" size="50" placeholder="Enter a location" autocomplete="on">

    <ul class="places" ng-cloak>
      <li ng-repeat="place in places | orderBy:placesSorter track by $index" ng-class="getActivityInfoClass(place)" style='background: {{getGradient(place)}};'>

        <div class="time">
          <input type="number" size="1" class="hour" value-func="getPlaceLocalTimeHour(place)" input-event="onInputChange($event)" />
          <input type="text" size="1" tabindex="-1" class="minute" value="{{ getPlaceLocalTime(place).format('mm') }}" readonly />
        </div>

        <div class="body">
          <span class="name">{{place.name}}</span>
          <span class="activity">{{getActivityInfoText(place)}}</span>
        </div>
        
        <button tabindex="-1" class="remove" ng-click="removeItem(place.referenceId)"></button>
      </li>
    </ul>

    <div class="map"></div>

</body>
</html>
