.placePicker {
  transform: translateY(-50px);
  transition: transform 0.2s ease-in;
  position: absolute;
  width: 100%;
}

.new-city-input {
  height: 44px;
  font-size: 16px;
  padding-left: 24px;
}

input {
  font-size: 12px;
  font-weight: 100;
  width: 100%;
  padding: 6px;
  outline: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}