.welcome {
  height: calc(100% - 44px);
  width: 100%;

  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

.inner {
  margin: 0 auto;
}

.clock-container {
  display: inline-block;
  position: relative;
  width: 30vmin;
  vertical-align: middle;
  overflow: hidden;
}
