<input class="new-city-input" tabindex="-1" type="text" size="50" placeholder="Type to add timezone..." autocomplete="on">

<ul class="places" ng-cloak ng-show="places.length" >
  <li ng-repeat="place in places | orderBy:placesSorter track by $index" ng-class="getActivityInfoClass(place)" style='background: {{getGradient(place)}};'>
    <div class="time" ng-dblclick="onTimeDoubleClick($event)" >
      <input type="number" size="1" class="hour" value="{{ getPlaceLocalTimeHour(place) }}" readonly />
      <input type="number" size="1" tabindex="-1" class="minute" value="{{ getPlaceLocalTime(place).format('mm') }}" readonly />
      <input type="text" size="1" tabindex="-1" class="am-pm" value="{{ getPlaceLocalTime(place).format('A') }}" readonly ng-if="settings.is12Hour" />
    </div>

    <div class="body">
      <span class="name">{{place.name}}</span>
      <span class="activity">{{getActivityInfoText(place)}}</span>
    </div>

    <button tabindex="-1" class="remove" ng-click="removeItem(place.referenceId)"></button>
  </li>
</ul>

<div class="welcome" ng-hide="places.length" ng-cloak>
  <div class="inner">

    <div class="clock-container">
      <clock />
    </div>

    <h1>Add timezones to get started</h1>
    <h2>Scheduling a meeting? Send a link.</h2>
  </div>
</div>

<button class="add-new mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="onAddNewClick()">
    <img src="images/icons/ic_add_black_48px.svg" width="24" />
</button>
<div class="map"></div>
